.popup__submit {
        background-color: #000;
        border: 1px solid #000;
        color: #fff;
        width: 358px;
        height: 50px;
        margin: 18px 0 0;
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: .5s;
        border-radius: 2px;
    }
    
.popup__submit:hover {
        opacity: 0.8;
}

@media (max-width: 618px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin: 15px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}