.header__logo {
    margin: 0;
    width: 142px;
    height: 33px;
}

@media (max-width: 900px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 0 0 27px 27px;
    }
} 
