.popup__close-button {
    background-image: url(../../../image/Close.svg);
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    cursor: pointer;
    transition: .5s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 618px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}