.elements__trash{
    background-image: url(../../../image/Trash.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    visibility: visible;
}

.elements__trash:hover {
    opacity: 0.5;
}
